.wardrobe-sidetext { display: block; float: left; margin: 15px 25px 15px 0; font: 200 48px "Montserrat",sans-serif; max-width: 200px; color: #000; }
.wardrobe-title { display: block; font-size: 18px; color: #566422; margin-top: 30px; }
.wardrobe-readmore, .wardrobe-readmore a { color: #652d8a; text-decoration: none; font-size: 14px; }
.purple-title { color: #652d8a; }
